.single-card-center {
  display: flex;
  justify-content: center;
}

.leadership-card {
  width: 100%;
  max-width: 700px;
}

.contact-center {
  display: flex;
  justify-content: center;
}

.contact-card {
  width: 100%;
  max-width: 700px;
}
